@media (max-width:760px) {
    body,html{
        max-width: 100vw;
        overflow-x: hidden;
    }    header{
        position: fixed;
        top:0;
        width: 100vw;
        height: 60px;
    }
    header ul{
        overflow: hidden;
        display: flex;
        flex-direction: column;
        width: 100vw;
        align-items: center;
        position: absolute;
        top: 60px;
        background: white !important;
        transition: 0.5s !important;
        height: 0;
        z-index: 999999;
    }

    #menu{
        width: 100vw;
        background: white !important;
        z-index: 99999999;
    }

    .logo{
        position: absolute;
        top: 0;
    }

    .container {
        display: inline-block;
        cursor: pointer;
        position: absolute;
        right: 10px;
      }
      
      .bar1, .bar2, .bar3 {
        width: 35px;
        height: 5px;
        background-color: #333;
        margin: 6px 0;
        transition: 0.4s;
      }
      
      .change .bar1 {
        transform: translate(0, 11px) rotate(-45deg);
      }
      
      .change .bar2 {opacity: 0;}
      
      .change .bar3 {
        transform: translate(0, -11px) rotate(45deg);
      }
      .texts h1{
        z-index: 0 !important;
        top: 20% !important;
      }
      .texts p{
        max-width: 92vw;
        top: 30% !important;
        line-height: 20px !important;

      }
      .btn{
        top: 70% !important;
      }

}
